.Profile {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px #000;
  margin-bottom: 50px;
}
.Description {
  padding: 30px 15px;
  text-align: center;
  color: #808080;
  font-size: 14px;
}
.Avatar {
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.Name {
  font-weight: bold;
  color: #000;
  font-size: 16px;
}
.Name,
.Tag {
  margin-top: 0;
  margin-bottom: 5px;
}
.Location {
  margin: 0;
}
.Stats {
  list-style: none;
  display: flex;
  border-top: 1px solid #c0bfbf;
  padding-left: 0;
  background-color: #eeebeb;
  border-radius: 0 0 5px 5px;
  margin: 0;
}
.Stats li {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid #c0bfbf;
  flex-basis: 106px;
  padding: 10px;
}
.Stats li:first-child {
  border-left: none;
}
.Label {
  font-size: 12px;
  color: #808080;
}
.Quantity {
  font-size: 16px;
  font-weight: bold;
}
